#hibaszoveg,#hiba1
{
	color:red;
}
.container-fluid{
    background: url("swhatter.jpg");
}
.border {
    border: 5px solid black;
}


.navbar{
	

	width: 100%;
	position: fixed;
	z-index: 5;
	top: 0;
	border:0px solid black;
	color: black;
	
}

body {
    background: url("swhatter.jpg");
}

.menuhatter
{
	background:url("asd.jpg");
}
.menuszoveg
{
	color:yellow;
	font-size:15px;
	font-family: "Star Jedi Logo MonoLine" , Star Jedi Logo MonoLine, Star Jedi Logo MonoLine;

}
.menuszoveg:hover
{
	color:yellow;
	font-size:15px;
	font-family: "Star Jedi Logo MonoLine" , Star Jedi Logo MonoLine, Star Jedi Logo MonoLine;
}
/*
.navbar-collapse{
	background-color:#e6e6ff;
}
*/
#alsoresz
{
	padding-left:20px;
	padding-right:20px;
	margin-top:60px;
}
.filmcimstilus
{
	padding:10px;
	margin-bottom:15px;
	height:50px;
}
.filmkeret
{
	border:solid black 1px;
	padding:10px;
	text-align:center;
	margin:10px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.filmkeret:hover
{
	border:solid black 2px;
	border-color:#000099;
}
.kereseskeret
{
	border:solid blue 1px;
	padding:10px;
	margin:10px;
}
.kereseskeret:hover
{
	border:solid blue 2px;
}
.forumkeret
{
	border:solid grey 1px;
	padding:10px;
	margin:10px;
}
.datumkeret
{
	color:yellow;
	text-align:center;
	font-size:20px;
	font-family: "Star Jedi Logo MonoLine" , Star Jedi Logo MonoLine, Star Jedi Logo MonoLine;
}
.felhkeret
{
	
	color:yellow;
	font-size:14px;
	font-family: "Star Jedi Logo MonoLine" , Star Jedi Logo MonoLine, Star Jedi Logo MonoLine;
	box-sizing: content-box;  
    width: 200px;
    padding: 10px;  
    border: 2px solid black;
	background-color: #DCDCDC;
	
	
}

.uzikeretnev
 {
  
  box-sizing: content-box;  
  width: 200px;
  padding: 10px;  
  border: 2px solid black;
  background-color: #DCDCDC;
  
}

.uzikeretnev2
 {
  
  padding: 70px;
  border-style: solid;
  border-width: 2px;
  margin-top: 3px;
  margin-bottom: 25px;
  background-color: green;
  
}


.uzikeretadmin
 {
  padding: 70px;
  border-style: solid;
  border-width: 2px;
  margin-top: 3px;
  margin-bottom: 25px;
  background-color: #DCDCDC;
  
}

.uzikeretfelh
 {
  border-style: solid;
  border-width: 5px;
}
.egeszkeret
{
  border: 1px solid black;
  background-color: lightgray;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  
}

.egeszkeret2
{
  border: 1px solid black;
  background-color: green;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  
}

.megrendeleskep {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.gombi {
color: #fff !important;
text-transform: uppercase;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
}

.gombi:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}
.datum
{
	position: absolute;
	bottom: 8px;
	right: 16px;
}

.kepkeret
{
	border:solid black 1px;
	padding:10px;
	text-align:center;
	margin:10px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.kepkeret2
{
	border:solid black 1px;
	padding:5px;
	text-align:center;
	margin:5px;
	font-size: 30px;
	font-style: bold;
}
.festmenytemaleiras
{
  
  border: 1px solid black;
  background-color: lightgray;
  padding-top: auto;
  padding-right: auto;
  padding-bottom: auto;
  padding-left: 20px;
}

.kepkeret3
{
	border:solid black 5px;
	padding:auto;
	text-align:center;
	margin:auto;
	background-color: grey;

}




}











